.container {
display: flex;
flex-wrap: wrap;
max-width: 100vw;
margin-left: 20px;
}
.khoi {
    border: 0.1px solid;
    
    border-color: black;
    background-color: white;
    width: 50px;
    height: 50px;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px
}
body {
    background-color: blue;
}
.container1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}